<ion-modal-view>
   <ion-header-bar class="bar-calm">
      <h1 class="title">Create Skills</h1>
      <button class="button button-clear buttton-primary" ng-click="closeModal(2)">Cancel</button>
   </ion-header-bar>
  <ion-content class="padding">
  	<div class="card">
  <div class="item item-divider">
    Please Select Your Skills:
  </div>
  <div class="item item-text-wrap">
    
  	<div class="row">
<div class="col col-50">

<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Computers
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Cars
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Cooking
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Baby Sitting
  </li>

</ul>

</div>

<!-- ==================================================================== -->

<div class="col col-50">

<ul class="list">

   <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Computers
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Cars
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Cooking
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Baby Sitting
  </li>

</ul>
</div>


</div>



  </div>
  <div class="item item-divider">
    I'm a Footer in a Card!
  </div>
</div>
	
  </ion-content>
</ion-modal-view>